.checkoutProduct
{
    display: flex;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}

.checkoutProduct__info 
{
    padding-left: 1.7rem;

}

.checkoutProduct__info > button 
{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    color: black;
    cursor: pointer;
}

.checkoutProduct__title 
{
    font-size: 1.1rem;
    font-weight: 800;
}

.checkoutProduct__img
{
    object-fit: contain;
    max-width: 12rem;
    min-height: 12rem;
}
