/* general styling */
.checkout 
{
    display: flex;
    padding: 1.125rem;
    margin: 1.25rem;
    width: 90%;

}

/* styling the upper side of the checkout page */

.checkout__leftSide
{
    display: flex;
    background-color: #ffff;
    padding-left: 1rem;
    width: 1250px;
}
.checkout__title
{
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* the down side styling is in subtotal.css file :)  */