/*  main header styling */
.header 
{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* logo styling section */

.header__logo
{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 20px;
}

/* search input styling section */

.header__search 
{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius:24px;
}


.header__searchIN
{
    padding: 6px;
    height: 17.5px;
    border: none;
    width: 95%;
}

.search__icon {
    padding: 5px;
    background-color: #cd9024;
    height: 22px !important;
}

/* options styling section */

.nav__options__countainer
{
    display: flex;
    justify-content: space-evenly;
}

.header__option
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header__optionSpecial 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    margin-left: -10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.option__Ftext
{
    font-size: 12px;
}

.option__Stext 
{
    font-size: 16px;
    font-weight:900;
}
